#leftPane
{
	float: left;
	width: 434px;
	height: 669px;
}


#rightPane
{
	float: left;
	margin-left: 20px;
}
#topPane, #bottomPane,
#leftTopPane, #leftBottomPane
{
	width: 434px;
	height: 325px;
	background-color: #fff;
	overflow: hidden;
}
#leftTopPane,
#bottomPane {
	width: 394px;
	height: 285px;
	padding: 20px;
}
#leftTopPane {
	width: 394px;
	padding-left: 20px;
	border-bottom-right-radius: 50px;
	-moz-border-radius-bottomright: 50px;

}
#leftBottomPane {
	width: 394px;
  height: 285px;
	padding: 20px;
  overflow: auto;
}
#leftBottomPane div.reference {
}
#bottomPane,
#leftBottomPane {
	margin-top: 19px;
}
#bottomPane {
	padding-right: 35px;
	width: 379px;
}

#leftTopPane p,
#bottomPane p {
	margin-bottom: 0;
}
#leftTopPane ul,
#bottomPane ul {
	list-style: none;
}
#recommendations {
	margin: 20px 20px 20px 0;
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: 1.2;
	height: 290px;
}
#recommendations p {
	margin: 0;
	margin-bottom: 8px;	
}
.date{color:#666; font-style: italic;}
.qualities,.draggable .reference .qualities{color:#666}
.resume .reference,.draggable .reference{margin:-1px 0 0 0;padding:10px;border:1px solid #C8E4F1}
.resume .reference p,.draggable .reference p{margin:0 0 5px}
.resume .reference p.hidden,.draggable .reference p.hidden{color:#060;font-size:110%;margin:5px 0 0 0}
.resume .reference span.date,.draggable .reference span.date{color:#666;font-style:italic}
.resume .reference .qualities,.draggable .reference .qualities{color:#666}
.resume .reference .qualities em,.draggable .reference .qualities em{color:#999;font-weight:normal}
.resume .reference .distance,.draggable .reference .distance{padding-left:10px;color:#666;margin-bottom:0}
.network-degree {
background: white;
background: -webkit-gradient(linear, left top, left bottom, from(#C7EBF6), to(white));
background: -moz-linear-gradient(top, #C7EBF6, white);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7ebf6', endColorstr='#ffffff');
border: 1px solid #39C;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
color: #39C;
display: inline-block;
font-size: 11px !important;
font-style: normal !important;
font-weight: bold !important;
line-height: 12px !important;
margin-top: -4px;
min-width: 20px;
padding: 0 4px !important;
text-align: center !important;
vertical-align: middle;
}

a:visited, #footer a:visited {
color: #069;
}
a {
color: #069;
outline: none;
}
#content p {
word-wrap: break-word;
}
.resume .reference .distance, .draggable .reference .distance {
padding-left: 10px;
color: #666;
margin-bottom: 0;
}
.resume p, .draggable p, .resume .rich-text, .draggable .rich-text {
line-height: 1.2;
}
.distance {
	color: #666;
	padding-left: 5px;
}
.reference {
	margin-bottom: 20px;
}
  #imageRotator, #imageRotator1, #imageRotator2, #imageRotator3, #imageRotator4 {
    clear: both;
    display: block;
    width: 395px;
    height: 286px;
    overflow: hidden; 
    margin-left: 20px;
    padding-top:19px;
  }
  #innerRotator, #innerRotator1, #innerRotator2, #innerRotator3, #innerRotator4  {
    height:286px;
  }
  #innerRotator img, #innerRotator1 img, #innerRotator2 img, #innerRotator3 img, #innerRotator4 img {
    width: 395px; 
    height: 286px;
    display: block;
    float: left;
    margin-right: 20px;
  }

