#leftPane, #rightPane
{
	float: left;
	height: 669px;
}
#rightPane
{
	float: left;
	margin-left: 20px;
}
#topPane, #bottomPane,
#leftTopPane, #leftBottomPane
{
	height: 325px;
	background-color: #fff;
	overflow: hidden;
}
#topPane
{
	width: 434px;
}
#leftTopPane,
#bottomPane {
	width: 378px;
	height: 285px;
	padding: 20px;
}
#bottomPane
{
	width: 394px;
}
#bottomPane,
#leftBottomPane {
	margin-top: 19px;
	position: relative;
}
#leftBottomPane {
	border-bottom-right-radius: 50px;
	-moz-border-radius-bottomright: 50px;
	background-image: url('../images/freek-rounded.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
}
#texttopleft {
	position: absolute;
	top: 20px;
	left: 20px;
}
#leftTopPane {
	padding-left: 35px;
	width: 379px;
}
#imageRotator, #imageRotator1, #imageRotator2, #imageRotator3, #imageRotator4 {
	clear: both;
	display: block;
	width: 395px;
	height: 286px;
	overflow: hidden;	
	margin-left: 20px;
	padding-top:19px;
}
#innerRotator, #innerRotator1, #innerRotator2, #innerRotator3, #innerRotator4  {
	height:286px;
}
#innerRotator img, #innerRotator1 img, #innerRotator2 img, #innerRotator3 img, #innerRotator4 img {
	width: 395px;	
	height: 286px;
	display: block;
	float: left;
	margin-right: 20px;
}
#leftTopPane p,
#bottomPane p {
	margin-bottom: 0;
}
#leftTopPane ul,
#bottomPane ul {
	list-style: none;
}
#leftBottomPane
{
	width: 434px;
	margin-right: 0;
}
#bottomPane
{
	position: relative;
}
#contactlogo {
	background-image: url('../images/contactlogo.png');
	background-repeat: no-repeat;
	background-position: top right;
	width: 198px;
	height: 126px;
	position: absolute;
	top: 75px;
	left: 118px;
}
#address1 {
	position: absolute;
	top: 250px;
	left: 20px;
}
#address2 {
	position: absolute;
	top: 250px;
	right: 20px;
	text-align: right;
}
