#topPane, #bottomPane {
	width: 846px;
	height: 285px;
	padding: 20px;
}
#bottomPane {
	background: none;
	padding: 0;
	width: 886px;
	height: 325px;
}
#leftPane, #rightPane {
	width: 376px;
	background-color: #fff;
	padding: 20px;
	height: 285px;
}
#leftPane
{
	border-top-right-radius: 50px;
	-moz-border-radius-topright: 50px;
}
#rightPane {
	width: 408px;
}

#topPane p, #bottomPane p, #leftPane p, #rightPane p
{
	margin-bottom: 10px;	
}
h1 {
	color: #ff0000;
}

.imageRotator
 {
	width: 846px !important;
	padding-top: 0 !important;
	margin-left: 0 !important;
}
