/* Re-align Menu */ 
li.werkwijze > a      { top: 285px; }
li.extra-diensten > a { top: 305px; }
li.buro > a           { top: 335px; }
li.projecten > a      { top: 374px; }

#topPane, #leftBottomPane {
	width: 394px;
	height: 285px;
	padding: 20px;
}
#topPane p, #bottomPane p, #leftBottomPane p, #leftTopPane p
{
	margin-bottom: 10px;	
}
h1 {
	color: #ff0000;
}

#imageRotator {
	margin-left:0px;
	padding-top:0px;
}
