#leftPane
{
	float: left;
	width: 434px;
	height: 669px;
}
#topPane,
#leftTopPane, #leftBottomPane
{
	width: 434px;
	height: 325px;
	background-color: #fff;
	overflow: hidden;
}
#leftTopPane {
	width: 394px;
	height: 285px;
	padding: 20px;
	border-top-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	background-image: url('../images/mosterlogo.png');
	background-repeat: no-repeat;
	background-position: 20px 0;
}
#whiteLineTopRight
{
	top: -60px;
	width: 5px;
	height: 100px;
	display: block;
	position: absolute;
	margin-left: 410px;
	background-color: #fff;
}
#introContent {
	margin-top: 85px;
	margin-left: 0px;
	height: 100%;
	background-color: white;
}
#introContent p {
	margin-bottom: 14px;
}
#bottomPane,
#leftBottomPane {
	margin-top: 19px;
}
#leftBottomPane {
	background-image: url("../images/freek.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
}
ul#specialisaties
{
	position: relative;
	float: none;
	list-style: none;
}
ul#specialisaties li a,
ul#specialistaties li {
	font-weight: normal;
	color: #ed1e24;
}

#rightPane
{
	float: left;
	margin-left: 20px;
}
#topPane, #bottomPane
{
	width: 434px;
	height: 325px;
	background-color: #fff;
	overflow: hidden;
}
#bottomPane {
	margin-top: 19px;
}
#twitterPane {	

	margin-left: 15px;
	margin-right: 15px;
	padding-top: 15px;
	overflow: hidden;
	height: 292px;
}

#imageRotator {
	clear: both;
	display: block;
	width: 395px;
	height: 286px;
	overflow: hidden;	
	margin-left: 20px;
	padding-top:19px;
}
#innerRotator {
	height:286px;
}
#innerRotator img {
	width: 395px;	
	height: 286px;
	display: block;
	float: left;
	margin-right: 20px;
}
.bigger {
	font-size: 16px;
	font-weight: bold;
}
img#bgLine {
	top: 60px;
}
