.imageRotator {
	clear: both;
	display: block;
	height: 286px;
	overflow: hidden;	
	margin-left: 20px;
	padding-top:19px;
}
.innerRotator {
	height:286px;
}
.innerRotator img {
	width: 395px;	
	height: 286px;
	display: block;
	float: left;
	margin-right: 20px;
}
.imageRotator, .videoDiv, .contentDiv
{
	display: none;	
}
.ximageRotator
 {
	margin-left:0px;
	padding-top:0px;
	width: 846px;
	position: absolute;
}
.videoDiv
{
	position: absolute;
}
.contentDiv
{
	position: absolute;
	width: 355px;
	padding-left: 15px;
}
#pijl-links {
	position: absolute;
	background-image: url('../images/pijl-wit-links.png');
	width: 39px;
	height: 54px;
	margin-left: -58px;
	margin-top: 110px;	
}
#pijl-rechts {
	position: absolute;
	background-image: url(../images/pijl-wit-rechts.png);
	width: 39px;
	height: 54px;
	margin-left: 864px;
	margin-top: 110px;
}
#imageRotator1, #video1, #content1
{
	display: block;
}
