#menu
{
  display:      block;
  float:        left;
  width:        158px;
  height:       668px;

}
#menu ul
{
  list-style:      none;
}

#menu ul li a, #menu ul li ul li a
{
  background-position : 0 -20px;
  background-repeat   : no-repeat;
  display             : block;
  width               : 158px;
  height              : 20px;
  overflow            : hidden;
  text-indent         : -130px;
}

#menu ul li ul {
  display: none;
}
#menu ul li.current-menu-item ul, #menu ul li.current-menu-parent ul, #menu ul li.current-page-ancestor ul {
  display: block;
}

/* Second one is needed to highlight submenu's */
#menu ul li.current_page_item > a, #menu ul li ul li.current-page-ancestor > a, div.projecten #menu ul li.current-page-ancestor > a 
{
  background-position:  0 0px;
}

/* Menu Images */
li > a                { position: absolute; }
li.home > a           { background-image: url("../images/menu/menu_home.png"); }
li.buro > a           { background-image: url("../images/menu/menu_buro.png"); }
li.projecten > a      { background-image: url("../images/menu/menu_projecten.png"); }
li.contact > a        { background-image: url("../images/menu/menu_contact.png"); }
li.extra-diensten > a { background-image: url("../images/menu/menu_extra_diensten.png"); }
li.werkwijze > a      { background-image: url("../images/menu/menu_werkwijze.png"); }
li.interieur > a      { background-image: url("../images/menu/menu_interieur.png"); }
li.meubel >  a        { background-image: url("../images/menu/menu_meubel.png"); }
li.studie > a         { background-image: url("../images/menu/menu_studie.png"); }

/* Re-align Menu */ 

/* Main Items */
li.home > a            { top: 0px; }
 li.extra-diensten > a { top: 285px; }
 li.werkwijze > a      { top: 265px; }
li.buro > a            { top: 305px; }
li.projecten > a       { top: 344px; }
 li.interieur > a      { top: 364px; }
 li.meubel > a         { top: 384px; }
 li.studie > a         { top: 404px; }
li.contact > a         { top: 649px; }
/* Sub Menu Items for Projecten */ 

/* Re-Align per sub-page */ 
/* Under Buro */
/* Still done per stylesheet */
/* Under Projecten */
div.interieur li.buro > a      { top: 294px; }
div.interieur li.projecten > a { top: 324px; }
div.interieur li.interieur > a { top: 344px; }
div.interieur li.meubel > a    { top: 364px; }
div.interieur li.studie > a    { top: 384px; }
div.meubel li.buro > a         { top: 274px; }
div.meubel li.projecten > a    { top: 304px; }
div.meubel li.interieur > a    { top: 324px; }
div.meubel li.meubel > a       { top: 344px; }
div.meubel li.studie > a       { top: 364px; }
div.studie li.buro > a         { top: 254px; }
div.studie li.projecten > a    { top: 284px; }
div.studie li.interieur > a    { top: 304px; }
div.studie li.meubel > a       { top: 324px; }
div.studie li.studie > a       { top: 344px; }
