li.buro a
{
	margin-top: 224px;
}
li.contact a
{
	margin-top: 285px;
}
#topPane, #bottomPane {
	width: 846px;
	height: 285px;
	padding: 20px;
}
#bottomPane {
	background: none;
	padding: 0;
	width: 886px;
	height: 325px;
}
#leftPane, #rightPane {
	width: 376px;
	background-color: #fff;
	padding: 20px;
	height: 285px;
}
#leftPane
{
	border-top-right-radius: 50px;
	-moz-border-radius-topright: 50px;
}
#rightPane {
	width: 408px;
}

#topPane p, #bottomPane p, #leftPane p, #rightPane p
{
	margin-bottom: 10px;	
}
h1 {
	color: #ff0000;
}

#imageRotator1,
#imageRotator2 {
	margin-left:0px;
	padding-top:0px;
	width: 846px;
	position: absolute;
}
#video1, #video2
{
	position: absolute;
}
#content1, #content2
{
	position: absolute;
	width: 355px;
	padding-left: 15px;
}
