/* Re-align Menu */ 
li.werkwijze > a      { top: 305px; }
li.extra-diensten > a { top: 325px; }
li.buro > a           { top: 355px; }
li.projecten > a      { top: 394px; }

#topPane, #leftBottomPane {
	width: 394px;
	height: 285px;
	padding: 20px;
}
#topPane p, #bottomPane p, #leftBottomPane p, #leftTopPane p
{
	margin-bottom: 10px;	
}
#leftTopPane, #leftBottomPane {
	width: 394px;
	padding-left: 20px;
}
#topPane p, #bottomPane
{
	width: 379px;
	padding-right: 35px;
}
