/*
Theme Name:     Freek Mosterman 
Theme URI:      http://www.freekmosterman.com/
Description:    Child theme for the Twenty Twelve theme
Author:         Bas Grolleman
Author URI:     http://example.com/about/
Template:       twentytwelve
Version:        0.2.2
*/

body { 
	background-image: url('images/background_seamless.jpg');
	min-height: 768px;
}

html, body {
	height: 100%;
}
* {
	padding: 0;
	margin: 0;
}
img#bgImage {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
img#bgLine {
	position: fixed;
	left: 0;
	top: 0;
	width: 1027px;
	height: 100%;
}
div#content {
	position: relative;
	z-index: 1;
	margin-top: 60px;
	width: 1100px;
}
p, ul li, a, div.recommendation, p.e-entry-title {
	font-family: Arial;
	color: #000;
	font-size: 12px;
}
p {
	margin-bottom: 24px;
}
span.redO {
	color: #ff0000;
}
h1, h2, h3 {
	font-family: Arial;
	font-size: 20px;
	margin-bottom: 10px;
}
h2 {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 0;
}
span.highlight {
	font-weight: bold;
	color: #ff0000;	
}
p strong {
	font-size: 16px;
	font-weight: bold;
}

/* Social Media Buttons */
#leftBottomPane {
	position: relative;
}
#socialbuttons {
	position: absolute;
	display: block;
	top: 274px;
	left: 20px;
	height: 32px;
	width: 300px;
}
#socialbuttons ul {
	list-style: none;
}
#socialbuttons ul li {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 20px;
}
#socialbuttons ul li a {
	display: block;
	width: 32px;
	height: 32px;
}
#socialbuttons a#youtube { background-image: url("images/buttons/youtube.png"); }
#socialbuttons a#linkedin { background-image: url("images/buttons/linkedin.png"); }
#socialbuttons a#facebook { background-image: url("images/buttons/facebook.png"); }
#socialbuttons a#twitter { background-image: url("images/buttons/twitter.png"); }

#pijllr, #pijlrl, #pijltb {
	position: absolute;
	display: block;
}
#pijllr, #pijlrl {
	height: 97px;
	width: 58px;	
}
#pijltb {
	height: 58px;
  width: 97px;	
}
#pijllr {
	background-image: url('images/arrowright.png');
	top: 115px;
	left: 575px;
}
#pijltb {
	background-image: url('images/arrowdown.png');
	top: 315px;
	left: 770px;
}
#pijlrl {
	background-image: url('images/arrowleft.png');
	top: 465px;
	left: 570px;
}

#arrowLeft {
	position: absolute;
	margin-left: -60px;	
	margin-top: 100px;
	cursor: pointer;
}
#arrowRight {
	position: absolute;
	margin-left: 408px;
	margin-top: 100px;
	cursor: pointer;
}

/* Rotator */
.innerRotator {
	width: 102400px;
}

.reference h1, .linkedin blockquote {
	font-family: arial;
}

